[2018-04-26 14:10] peterdesmet opened #1 "Set occurrenceStatus to "doubtful" for outliers"
At the workshop we proposed to have a quality flag (an "occurrenceVerificationFlag") in `occurrenceRemarks`, based on terminology in [Andre Steckenreuter et al. (2016)](https://www.researchgate.net/publication/311152857_Optimising_the_design_of_large-scale_acoustic_telemetry_curtains).

I suggest that for those records with a low quality flag (i.e. we're pretty sure it's a ghost detection or an ou

[2018-04-30 16:54] albenson-usgs commented on #1
Yes, this sounds like a good working solution to me. @jdpye and @PeggyNewman would you agree?

[2018-04-30 17:26] jdpye commented on #1
Agree with classifying our detections this way. I went looking for a 'probable' field in the nomenclature and it seems to me that the field appears to be saying something about whether the species can generally be found in a location, not referring to individual sightings or detections. The question is, how are people actually using it. In applying it to an individual detection, it doesn't look li

[2018-04-30 20:11] PeggyNewman commented on #1
It looks like 'excluded' is an option in that vocabulary too. I remember somebody suggesting that most studies clean out non-animal detections (eg. by removing range test detections). Maybe this is a practical value to include if for some reason they are left in the data?

[2018-04-30 22:29] peterdesmet commented on #1
I have thought about “excluded” as well, but that is (just like absent) possitively stating that a record is not there, but it has (e.g. in gray literature) reported there as present in the past. I don’t think that fits our definition here.

Note: it doesn’t mean: to be excluded from analysis/dataset.

[2018-05-02 07:26] Antonarctica commented on #1
Hi
Would this stil be used in combination with a quality flag (an "occurrenceVerificationFlag") in occurrenceRemarks, based on terminology in Andre Steckenreuter et al. (2016)? Still using that would make sense to me.

For the proposed use of  "doubtful" I think it is a good working solution.

I do get the sense from the definition that with some GPS tags on birds/mammals you might be pushing the

[2018-05-02 07:37] phwalsh commented on #1
I agree use of occurenceStatus is a good idea.

@Antonarctica, my understanding is that both would be used. occurenceStatus for existing use case by GBIF/OBIS and occurrenceVerificationFlag to include Andre et al QC flag (note this is only used for acoustic data).

[2018-05-03 16:36] jdpye opened #2 "Associating sensor tag data with a single Event"
So our choices for Event to associate sensor tag results (in EMoF) are the receiver deployment Event, as it's that receiver that stores the information, or the tag release Event, that has the calibration and configuration for the instrument that made the measurement.

I think we landed on using the receiver in the workshop, but I see a strong case for having it be associated with the tag, especial

[2018-05-04 12:01] jdpye commented on #2
I'm all for keeping the schemas well-aligned between acoustic and GPS datasets. Currently when I'm designing datasets to publish to OBIS they're grouped by tagging effort and external receiver array datasets are included as needed, so this philosophy aligns with my current ideas about publishing datasets to OBIS generally.

[2018-08-25 23:59] albenson-usgs opened #3 "How do biologging repositories ingest DarwinCore aligned data?"
How will Movebank, OTN, iOBIS, LivingAtlases, etc ingest the data that we are recommending use these guidelines?

[2018-08-26 03:49] jdpye commented on #3
The wish we expressed at the pre meeting:

Movebank accepting a DwC archive in this format for ingestion as-is.

OTN intends to make analysis toolboxes like glatos capable of ingesting these archives as data input, and to produce them for acceptance by iOBIS via the (soon-to-come) OTN IPT.

[2018-09-10 15:49] sarahcd commented on #3
This is a good question. From Movebank's end, I'll be working on this more this fall, some initial impressions:

- I see the initial demand to get data FROM Movebank's format TO DwC, rather than the other way around. Our first aim is to make Movebank's publicly archived datasets (datarepository.movebank.org) discoverable in GBIF. Currently our users have and want to work with tabular csv files tha

[2018-09-10 16:46] jdpye commented on #3
I think that the occurrence-core subset of the OBIS-ENV should be able to vocab-map directly to a nice tabular dataset that MoveBank will be happy with. This was the brainchild of our April workshop on the subject, where Peter expressed the desire that the occurrence data be able to stand on its own as a minimal description of animal presence.

Data volume for satellite data will be high, but if w

[2018-09-17 20:36] albenson-usgs commented on #3
@sarahcd This question actually came up because @peterdesmet would like his seabird tracking data to go into Movebank and is wondering if Movebank will be able to (relatively) seamlessly pull in data that's in Darwin Core but it sounds like based on your second bullet above this may not be possible. Or at least would take some work to figure out. Ideally if we can get Movebank, GBIF, and OBIS all

[2018-09-17 21:18] sarahcd commented on #3
I say we plan a meeting where we can screenshare and look at this, after I have some time to look through the feedback on my "draft" OBIS-ENV format dataset that I've already received from the very helpful @albenson-usgs :). I'll send an email to schedule, if anyone else sees this and would like to join let me know.

[2018-09-18 04:34] Antonarctica commented on #3
@sarahcd Happy to join the meeting.

[2018-09-19 14:06] sarahcd commented on #3
@Antonarctica can you tell who you are? ;) I can email you with the specs.

[2018-10-23 15:06] sarahcd opened #4 "how to create and use footprintWKT"
Are there any best practices for defining and creating footprintWKT values? The DwC footprintWKT term seems like it has a lot of potential, e.g. to represent the bounds of a track/dataset, home ranges, or possibly to help make tracking datasets discoverable by allowing spatial searches using a footprint rather than millions of observations. Ideally these best practices could address
- how to repor

[2018-10-23 15:14] sarahcd opened #5 "how to define species observation from non-free-ranging animals"
Tracking data often represent deployments from homing and navigation experiments that should not be assumed to be movements of free-ranging animals or used to interpret species distributions. Is there a clear way to identify this in DwC or on GBIF?

[2018-10-24 09:41] peterdesmet opened #6 "Associate acceleration measurements to deployment, not to separate event for each"
@sarahcd, just looked at your "Mahoney-data-DwC-A-test-2". This is the structure I could detect:

event_id | events | assoc occ | assoc event mof | assoc occ mof
--- | --- | --- | --- | ---
F53:capture1 | 1 | 1 | 0 | 0
F53:recovery1 | 1 | 1 | 0 | 0
IdCoy_P3_1:capture1 | 1 | 1 | 0 | 0
IdCoy_P3_1:recovery1 | 1 | 1 | 0 | 0
IdCoy_P3_1:capture2 | 1 | 1 | 0 | 0
IdCoy_P3_1:recovery2 | 1 | 1 | 0 | 0
F53:d

[2018-10-24 09:50] peterdesmet commented on #4
For the actual value, you have to close the polygon with the first coordinate again and have them in clockwise order. So:

    POLYGON ((-112.762 43.841, -112.547 43.841, -112.762 43.763, -112.547 43.763))

Should be:

    POLYGON ((-112.762 43.841, -112.547 43.841, -112.547 43.763, -112.762 43.763, -112.762 43.841))

You can test this at https://arthur-e.github.io/Wicket/sandbox-gmaps3.html

[2018-10-24 09:55] wardappeltans commented on #4
@peterdesmet @sarahcd see the OBIS manual http://iobis.org/manual/darwincore/#location. If you do not close the footprintWKT you should use LINESTRING.

[2018-10-24 09:58] peterdesmet commented on #4
I think `footprintWKT` has potential for a bounding box indeed. Some thoughts:

- I would only populate a footprintWKT for a deployment (which groups many occurrences), not a capture/recovery event (which contains one occurrence)
- I think the footprint should just be for guidance, so I find it less important how it was calculated (i.e. I would calculate it from all min/max coordinates of occurren

[2018-10-24 10:00] peterdesmet opened #7 "Use full http DOI for datasetID"
Rather than:

    doi:10.5441/001/1.7d8301h2

Use:

    https://doi.org/10.5441/001/1.7d8301h2

See https://www.crossref.org/display-guidelines/

[2018-10-24 10:06] peterdesmet opened #8 "Do not use parentEventID if not necessary"
In "Mahoney-data-DwC-A-test-2" I noticed that `parentEventID` is populated with the animalID:

    F53
    IdCoy_P3_1

I would not do this:

1. Records with that ID cannot be found in the event core (I don't think we should create them either)
2. Events are already clearly grouped in how their `eventID` is written, e.g. `F53:capture1`
3. I would really avoid using a hierarchical structure of event

[2018-10-24 11:13] peterdesmet opened #9 "How to use dcterms:type"
In "Mahoney-data-DwC-A-test-2" currently used to differentiate between elements, but should stick to http://dublincore.org/documents/2010/10/11/dcmi-type-vocabulary/, more restricted https://dwc.tdwg.org/terms/#dcterms:type or actually just `Event` for everything. The current values could be moved elsewhere as follows:

- Event `capture`: samplingProtocol `capture`
- Event `recovery`: samplingProt

[2018-10-24 11:17] peterdesmet opened #10 "Where to describe equipment and protocol used for machine observations"
Original question by @sarahcd:

[2018-10-24 11:28] peterdesmet commented on #10
I agree with @albenson-usgs, that info could be added as facts about the deployment:

id | measurementType | measurementValue
--- | --- | ---
IDCoy_P3_1:deployment1 | attachment type | collar
IDCoy_P3_1:deployment1 | deployment end type | removal
IDCoy_P3_1:deployment1 | deployment id | 166760_Winter
IDCoy_P3_1:deployment1 | duty cycle | 5-min fixes
IDCoy_P3_1:deployment1 | manipulation type | non

[2018-10-24 11:34] peterdesmet commented on #5
Answer by @albenson-usgs:

[2018-10-24 11:36] peterdesmet commented on #5
Just like outliers (#1) it would be neat to identify this at the occurrence level, so aggregators and users can easily filter those. Ideas (but probably not very good ones):

- basisOfRecord: LivingSpecimen
- establishmentMeans: managed

@tucotuco, I'd like to have your opinion on this.

[2018-10-24 13:29] pieterprovoost commented on #8
I think there needs to be a way to group events per animal which does not involve parsing character delimited strings. Also, I think encoding hierarchy in strings makes it harder to check referential integrity. `eventID` `F35:capture1` (did you notice the typo?) will not trigger any alarms, but the fact that `parentEventID` `F35` refers to a non existing `eventID` exist might.

Of course any `pare

[2018-10-24 14:21] albenson-usgs opened #11 "Deployment date range issues"
What should deployment date range be populated with if you don't know when the deployment ends? Should it have a date range? If so, what do you put as the end date?

[2018-10-24 15:17] albenson-usgs opened #12 "How should the data show up in OBIS/GBIF?"
Issues and concerns surrounding how biologging data will be visualized in OBIS/GBIF. GBIF currently uses the centroid of a WKT to show that kind of data to users. However, these datasets should have a basisOfRecord: HumanObservation occurrence that would have a lat/lon that can be used. Is this the best way for users to find the data?

[2018-10-24 17:51] albenson-usgs commented on #11
Once a decision is made on this, the wiki needs to be updated with that information in the [Data Guidelines](https://github.com/tdwg/dwc-for-biologging/wiki/Data-guidelines) section under eventDate.

[2018-10-24 21:03] sarahcd commented on #3
Maybe a more general, related issue to add is how to get multiple DwC archives into a data frame for analysis. This is the end goal for many users and gets at the db-ingestion question but with a more broadly relevant use case.

[2018-10-25 14:25] AbbyBenson opened #13 "Identify four more use cases and find people to work on them"
We want to keep the momentum going with documenting use cases. At the 2018 TDWG meeting we decided a total of six use cases seemed like a good goal. We have two use cases documented so far. We need to identify four more uses and find people to work on them. These two things probably go hand in hand and it might even make the most sense to identify the right people first and let them determine the

[2018-10-26 06:52] peterdesmet commented on #13
One use I case I want to work on at some point (for our work at INBO) is **camera trap data**. We’ll first express our data in CTMS (camera trap metadata standard) and then try to map that to Darwin Core. That mapping should (just like OTN, Movebank) be useful to a wider range of users than just us. But it will be a while before I can tackle this.

[2018-10-27 14:49] tucotuco commented on #5
@peterdesmet   Your proposal seems quite reasonable. Those are the values I would expect for a zoo animal, for example.

[2018-10-27 14:59] timrobertson100 commented on #5
Seems like the best option to me too.

[2018-10-29 11:47] peterdesmet commented on #5
@timrobertson100 @tucotuco Just to be clear, the proposal to use `LivingSpecimen`, to use `establishmentMeans: managed` or both?

The [definition](http://rs.gbif.org/vocabulary/gbif/establishment_means.xml) for `establishmentMeans: managed` is:

Imo, using `establishmentMeans` for occurrences has had mixed results and "subclass of **introduced**" might not be what people expect for all use cases (

[2018-10-29 18:35] tucotuco commented on #5
I see better now where you are going with this. I would keep basisOfRecord completely independent of the establishmentMeans. Observations should be used for records that have no physical evidence - so everything on your list would be Observations for basisOfRecord, unless a sample was taken, or unless it was the "end of the line" (specimen collected).  The rest sounds like the vocabularies being d

[2018-10-29 21:31] tucotuco commented on #5
The intent of establishmentMeans was, "Why was the thing there?", so that, to me, is the right term. The bothersome part of the definition is "established". Is an individual involved in a homing experiment "established"? If we can get beyond that, I think this is the right term. I think we can get beyond that with a modified definition for establishmentMeans, examples, and a solid vocabulary that

[2018-10-30 10:02] peterdesmet commented on #5
@tucotuco: 👌

@timrobertson/@pieterprovoost, given a new term in the controlled vocab, would GBIF/OBIS be fine in processing this field to detect unnaturally occurring occurrences?

[2018-11-08 05:39] peggynewman commented on #11
It seems sensible that the guidelines point out the way in which it was determined that the deployment ended, or even if it did at all.

[2018-11-08 05:56] peggynewman commented on #4
I agree with all of this and have been barking about using footprintWKT to summarise deployment events. I suspect that it would be important to document how the footprint was calculated, especially if we use different home range algorithms to summarise. Alpha hulls might be a useful way of capturing the long ranging migrants.

[2018-11-08 06:02] peggynewman commented on #3
Sounds like an R package to me once we have this nailed!

[2018-11-08 06:05] peggynewman commented on #8
@peterdesmet I'm interested to understand why you'd like to avoid hierarchical events? They seem to offer a lot of flexibility. I get that they might be difficult to interpret/ingest from system to system.

[2018-11-08 20:18] jdpye commented on #13
I know of someone who has deployed cameras on marine mammals. i'll ask them to share a sample dataset w/ me for classification. we should still find a 'classic' camera trap dataset though, that'll be much more commonly reported.

[2018-11-20 13:22] pieterprovoost commented on #3
@albenson-usgs @sarahcd The robis package will indeed provide access to integrated datasets, but if you want to combine multiple archives without going through the OBIS system you can use https://github.com/ropensci/finch (for reading archives) and https://github.com/iobis/obistools (for merging event trees and occurrences).

[2019-04-02 10:38] peterdesmet opened #14 "Release events"
@jdpye we're running into a problem with separate capture and release events. In your use case you describe a [release event](https://github.com/tdwg/dwc-for-biologging/wiki/Acoustic-sensor-enabled-tracking-of-blue-sharks#capturetagging-of-animal) and note:

So an Event without an associated occurrence. Or if one is associated, it is the capture occurrence.

I can agree with that, but how do you r

[2019-04-02 12:03] jdpye commented on #14
I thought occurrenceID was available in Event, and that was our little innovation on the case 6 De Pooter scheme. Hmm.

Barring that, the only other authoritative field we could use to solve this would be organismID? How else to clarify that the animal is present, but only because we put them there.

[2019-04-02 15:31] peterdesmet commented on #14
`organismID` is a property of Occurrence (well, Organism actually) as well and thus not in the Event Core either. The only solution I see is to create a related Occurrence: yes, we put it there, but it was there, with the intent for it to swim away from that location?

We have the same problem with `surgery/tagging`, which is another separate Event. So the order is: `Capture` > `Surgery/tagging` >

[2019-04-02 16:43] jdpye commented on #14
That's about the right tack for the Occurrence in question to take, but now we have this class of Occurrences that most people doing analyses might prefer to avoid harvesting alongside the natural ones.

[2019-04-03 04:54] Antonarctica commented on #14
The invention there was to have both an eventID and an occurrenceID in (extended) Measurement or fact. So in that way of working you would still need to have an occurrence extension and a EMoF extension.
OrganismID would then be part of the occurrence extension.

I though in another tread (or a discusion with Peter in person). is that they differentiate between handling event and tag reported obse

[2019-04-03 06:34] peterdesmet commented on #14
@antonarctica that is correct. So the only solution I see is:

## Capture

- Event: capture time and place
- Occurrence: HumanObs for captured animal, can be captured in naturally occurring habitat or grown in hatchery
- eMoF: facts about capture and animal, e.g. body measurements

## Tagging/surgery

- Event: surgery time and place (often same as capture)
- Occurrence: HumanObs for same animal, b

[2019-04-03 06:41] peterdesmet commented on #14
We could use “LivingSpecimen” to indicate those occurrences that are not natural: I’ve updated the example above. But would also like to get @tucotuco’s take on this.

[2019-04-03 11:00] peterdesmet commented on #13
We have a "classic" camera trap dataset, which we plan to standardize to Darwin Core later this year.

[2019-04-03 11:19] Antonarctica commented on #13
For Camare deployments on mammals I could probably find some Antarctic examples from researcher that are willing to provide data.
Are we talking just camera footage or also combined wit accelerometer date and such?

[2019-04-03 12:13] jdpye commented on #13
i mean, eventually the more complicated, the better, but for an example case we probably want just the camera data plus positional information for the moving camera.

[2019-04-03 15:03] sarahcd commented on #14
'not natural' occurrences can also include the machine observation events. should we have one of our use cases be an experimental dataset to get through how to deal with that?
the HumanObservation solution seems worth trying for this example.

[2019-04-03 16:26] peterdesmet commented on #14
You are right, it’s best to express them as HumanObservations (that’s what they are) and find another way/term to express that they are “not natural”

[2019-04-03 16:26] peterdesmet commented on #14
“establishmentMeans: managed” comes to mind.

[2019-04-05 17:47] sarahcd commented on #14
establishmentMeans looks good. I'd need some terms outside that controlled vocabulary, e.g. to cover relocations, e.g. homing experiment = introduced?
reintroductions = also introduced?
other experimental manipulations, e.g. to test hypotheses about olfactory or magnetic field influences on navigation = ???
Looks like we could use free text, might want to think through use cases and consider propo

[2019-04-09 11:37] tucotuco commented on #14
Hi folks. Sorry for the delay. It seems to me that the capture would be a LivingSpecimen too, with the establishmentMeans being appropriate to show if it was taken from the wild or not. While in hand I would use "captive" for establishmentMeans. Other than that, it all makes sense to me.

[2019-04-12 08:41] peterdesmet commented on #14
I like `establishmentMeans:captive` too, but would keep `basisOfRecord:HumanObservation` for all pre-detection records.

I know I suggested `LivingSpecimen` before, but I think it will make everything needlessly complicated. For other (observation) datasets we publish, we also have occurrences were animals (insects, etc.) were captured in the wild, identified, and then released or ended up dead. W

[2019-04-17 14:40] tucotuco commented on #14
Actually, yes, that sounds quite sensible to me.

On Fri, Apr 12, 2019 at 5:41 AM Peter Desmet <notifications@github.com>
wrote:

[2019-09-11 16:53] sarahcd commented on #11
If we want/need to include an end date for a track, realistically that date will commonly represent many different things:
- the removal of the tag by a human,
- a scheduled automated release,
- the last available data point,
- the end of the time the data can be reliably associated with the live animal,
- the time that the animal is captured or confined (even if the tag remains attached),
- the e

[2019-09-11 17:47] jdpye commented on #11
Love the idea of a controlled list for these, I'll see if I have anything that falls outside of the stated examples, to help extend the vocab.

[2019-09-11 18:33] sarahcd commented on #6
Thanks @peterdesmet! This update will be made in Mahoney use case V3, which I'm working on now. (Although I'll be grateful for a check before we close this.) As you suspect, the acceleration measurements because they were not collected on the same schedule as GPS fixes. This will be pretty common for deployments of multi-sensor tags (and tags with no location sensors) and is one reason I chose thi

[2019-09-11 18:38] sarahcd commented on #9
Thanks @peterdesmet. I've made these changes for V3 of the Mahoney use case. Should we come up with a controlled list of samplingProtocol values for our bio-logging guidelines? I'm now using capture, bio-logging sensor recovery, bio-logging sensor deployment. (Note I don't have separate capture & release events associated with the start of deployment.)

[2019-09-11 19:48] sarahcd commented on #7
updated in Mahoney use case V3.

[2019-09-11 19:48] #7 closed

[2019-09-11 20:11] sarahcd commented on #8
I deleted parentEventID from my event table. So now, the only place where unique animals are identified in organismName in the occurrence table. But I agree with @pieterprovoost's point: I think something is missing here and the event table (the closest to a 'summary' table) needs to define unique individuals somewhere. Otherwise it is more difficult to check the data or compile it into a data fra

[2019-09-11 20:11] sarahcd commented on #10
Thanks @albenson-usgs and @peterdesmet. Suggested additions to the MOF table made for V3 of the Mahoney case study, including measurementValueID.

[2019-09-11 20:33] sarahcd commented on #4
I updated the Mahoney use case to close the polygons and list only for deployment events as recommended by @peterdesmet.

[2019-09-13 12:43] peterdesmet commented on #6
No, you can't. There is no way to differentiate between machine or human measurements in MOF. I think you will have to rely on the definition in `measurementTypeID`

`

[2019-09-13 12:52] peterdesmet opened #15 "Do we recommend measurementDeterminedDate for MOFs associated with occurrences"
From the Mahoney use case: if a temperature measurement `F53:deployment1:measurement1` in MOF is associated with an occurrence `F53:deployment1:1902295519` and that occurrence has a precise `eventDate = 2014-02-11   21:35:42.000+00:00`. Do we recommend to then **also** repeat that eventDate as the `measurementDeterminedDate` of the MOF record?

/cc @pieterprovoost

[2019-09-13 12:57] peterdesmet opened #16 "Duty cycle currently contains multiple values"
@sarahcd I noticed that the MOF `duty-cycle` contains multiple values: `GPS: 4-h fixes; activity: 5-min averages`. I assume that is a single free text field in Movebank (defined at http://vocab.nerc.ac.uk/collection/MVB/current/MVB000086/) that cannot be easily translated to the more readable:

measurementType | measurementValue | measurementUnit
--- | --- | ---
duty-cycle-gps | 4 | hour
duty-cycl

[2019-09-13 13:05] pieterprovoost commented on #15
@peterdesmet From the OBIS perspective there's no need to repeat the time. When we parse and index data in OBIS attributes such as time and location are inherited from parent records unless the information in the child record is more precise.

One could argue that repeating the time is useful in case someone accesses the Darwin Core Archive directly to work with the measurements, but some matching

[2019-09-13 13:07] peterdesmet opened #17 "measurementTypeID or measurementValueID"
@sarahcd I noticed in the Mahoney use case that most deployment measurement have a `measurementValueID`. I would argue that these are `measurementTypeID`s (like you have used for `gps:fix-type` and alike. The URLs don't differ for different values and don't describe a specific value like `collar` (although it is mentioned):

measurementType |  measurementValue | measurementValueID
--- | --- | ---

[2019-09-13 13:09] peterdesmet commented on #15
Thanks @pieterprovoost. It will also lead to smaller data files and avoids consistency errors.

[2019-09-13 13:20] peterdesmet commented on #8
What @pieterprovoost suggests is probably the best way, but it feels like trying to fit a square peg in a round hole. "Organism" is a concept in Darwin Core, it's just not a "core" file now. Using the Event Core concept has the advantage that GBIF/OBIS can currently handle that data, but it might be good to do the exercise in **how we would express biologging data - reusing Darwin Core terms - if

[2019-09-13 13:29] peterdesmet opened #18 "Use T in timestamps"
@sarahcd it might be an artefact in Excel, but all dates should use `T` to separate date and time in `eventDate` and `measurementDeterminedDate` to be ISO 8601 compliant. So:

[code]

Rather than:

[code]

See https://en.wikipedia.org/wiki/ISO_8601#Combined_date_and_time_representations and http://support.sas.com/documentation/cdl/en/lrdict/64316/HTML/default/viewer.htm#a003169814.htm:

[2019-09-13 13:34] peterdesmet commented on #4
Thanks @sarahcd, the polygons are still not in clockwise order however. E.g. for `F53:deployment1`:

[code]

results in ⏳:

<img width="327" alt="Screenshot 2019-09-13 at 15 33 01" src="https://user-images.githubusercontent.com/600993/64866483-cbac6c00-d63b-11e9-840a-a7d06d399039.png">

Should be:

[code]

😄

[2019-09-13 20:53] jdpye commented on #9
I'm (shamelessly) using all these refinement suggestions to make a better blue shark product today. I really appreciate the work @sarahcd put into this example, and the digging and refinement suggestsions that @peterdesmet 's laying out here. It'll go a long way to making my default OTN data product better.

[2019-09-13 21:37] sarahcd commented on #17
@peterdesmet your suggestion makes sense to me, I moved everything to measurementTypeID.

[2019-09-13 21:37] #17 closed

[2019-09-13 21:42] sarahcd commented on #4
Thanks @peterdesmet for catching that, and illustrating why that test site is helpful :) Made the fix.

[2019-09-13 21:42] #4 closed

[2019-09-13 21:50] sarahcd commented on #18
Very glad to have @peterdesmet catching my mistakes :) Will be fixed on the next version I post.

[2019-09-13 21:50] #18 closed

[2019-12-12 06:54] data-biodiversity-aq opened #19 "RAATD dataset for use case"
Hello,

@Antonarctica has a dataset from Retrospective Analysis of Antarctic Tracking Data Project which could be interesting for the use cases. The project uses a mix of sensors:

Global Location Sensors (GLS loggers or geolocators), satellite-relayed Platform Terminal Transmitters (PTTs), and Global Positioning System devices (GPS)

Thanks a lot!

[2019-12-13 13:24] jdpye commented on #19
the RAATD data is semi-famous in my circles now, I know how much work has gone into straightening that data out and I would love to implement that example in this format!

[2019-12-13 13:26] jdpye commented on #19
it's possible that there's some overlap with this data example I've solicited from @ianjonsen as well: https://github.com/ianjonsen/tdwg_imos/wiki/Argos-satellite-tracking-of-southern-elephant-seals but I know the full RAATD dataset will have more coincident deployments on it and I think that's a very useful example.

[2019-12-13 15:24] ianjonsen commented on #19
It might be best to go with the RAATD data, depending on how much @Antonarctica has (probably all of it Anton?). These would be a more comprehensive test case, with multiple species, deployment locations, tag types, etc... The data aren't in the public domain yet as the Scientific Data paper hasn't come out, but I expect this will happen quite soon (possibly next 1-2 months)

[2019-12-13 15:30] Antonarctica commented on #19
Hi
I just got the last version back from the AADC So it is all on my laptop. So we should be able to standardise it to the Darwincore event format. And this would indeed be the right time to do it.

[2019-12-23 01:02] peggynewman commented on #19
What's the best way to go about working on that? Like Movebank has, with a few examples on a  spreadsheet in Github with the larger dataset sitting elsewhere?

[2019-12-27 20:31] Antonarctica commented on #19
The original compiled datasets will reside at the Australian Antarctic Data Centre (this was diced a while ago, if making the decision now we might have gone with Zenodo).

The plan is to have a  full copy published through the biodiveristy.aq IPT In Darwincore Event core (feeding into OBIS/GBIF). It would be good if that could also be linked to move bank but I'm not that knowledgeable on Movesban

[2020-01-16 08:50] msweetlove commented on #19
I made a first attempt to format the RAATD data in the DarwinCore format, with an event core and occurrence extension. Before we want to push the whole dataset into this format, it might be useful for you guys to have a look at it and give some feedback on the approach taken. The most important formatting discussion are written down in the README file

The data, R-script to format it and README ca

[2020-01-16 14:06] ianjonsen commented on #19
This looks pretty good, only issue I've noticed so far is that the variable "fieldnotes" contains the Argos location quality indices. These indices are essential for Argos location quality control and other movement modelling processes and should have a more informative variable name. Will the schema allow "location quality" to be used instead of "fieldnotes"? I would worry that anything named "fi

[2020-01-16 14:18] Antonarctica commented on #19
"location quality"  is not part of the Standard darwincore terms (an overview here: [https://dwc.tdwg.org/terms/](https://dwc.tdwg.org/terms/)).

A couple of options come to mind

with option 2 maybe being e good compromise

1) There is a "location remarks" but that is as useful as "field notes".

2) Another one is dynamicPropoerties which is a gathering bin but one that can be structured. It is f

[2020-01-16 16:00] jdpye commented on #19
Thank you for pulling this together, Maxime! I'll see if I have the right permissions to merge your fork into a demo/example subfolder here.

I know that we're encouraged to keep dynamicProperties sparse if we can at all help it, but I agree with option 2, and can see the value in designating a transient variable that'd only be available in certain subclasses of biologging location data. Option 1

[2020-01-16 16:52] ianjonsen commented on #19
wrt Argos location data: option 3 has some merits as there are now different "flavours" of Argos location data that could be captured in the "measurementDeterminedBy" variables: 1) locations based on CLS Argos' old Least-Squares algorithm; 2) locations based on their Kalman Filter algorithm; 3) locations based on their Kalman Filter & Smoother algorithms (users have to pay additional fees for this

[2020-01-17 09:39] Antonarctica commented on #19
@jdpye if memory serves me right the OBIS logic would be to throw it all in extended Measurement of Fact (lat long locations quality) have a simplified track  or range polygon at the event level.

@ianjonsen The standardised vs filter discussion is on that comes back. Given that OBIS and GBIF mainly deal with primary observation, my feeling is that filtered data would be quite heavily processed an

[2020-01-17 16:55] ianjonsen commented on #19
@Antonarctica yes, that makes sense - I knew I was wandering off into things beyond the primary observations

[2020-01-21 11:32] peggynewman commented on #19
What about using some of the location class terms for the Argos location qualities? For example,

[georeferenceProtocol](http://rs.tdwg.org/dwc/terms/georeferenceProtocol) and
[georeferenceVerificationStatus](http://rs.tdwg.org/dwc/terms/georeferenceVerificationStatus)?

The latter recommends use of a controlled vocabulary, which the Argos location quality essentially is.

[2020-01-21 13:29] jdpye commented on #19
The Argos LQs look to fit very neatly in those columns. We could set a good example with those.

[2020-01-22 08:04] Antonarctica commented on #19
@peggynewman @jdpye @msweetlove
Seems they would be a good fit
so georeferenceProtocol would be 'ArgosLocations'?
and the controlled vocal
http://www.argos-system.org/manual/3-location/34_location_classes.htm

[2020-01-22 13:27] ianjonsen commented on #19
Sounds like a great solution

[2020-01-22 21:01] peggynewman commented on #19
Yes, something like that, although a sanity check @peterdesmet would be appreciated.
Eg. georeferenceProtocol is "Argos Location Class" plus a link to the 'vocab', and the values (0,1,2,3,A,B,Z) in georeferenceVerificationStatus.

Movebank have added Argos terms to their vocabulary in NERC and it only refers to the Argos 2011 manual but doesn't link to it. They have "Argos LC" which must be the la

[2020-04-07 17:33] albenson-usgs opened #21 "eventTime not following the standard"
eventTime (https://dwc.tdwg.org/terms/#dwc:eventTime) doesn't look to be following ISO 8601:2004(E)

[2020-04-07 17:41] albenson-usgs opened #22 "Use of startDayOfYear and endDayOfYear"
I like the concept of trying to identify the start and end of the track but this is not the correct use of startDayOfYear (https://dwc.tdwg.org/terms/#dwc:startDayOfYear) or endDayOfYear (https://dwc.tdwg.org/terms/#dwc:endDayOfYear). First, is each event a track? Can there be multiple tracks for the same animal? Does the startDayOfYear and endDayOfYear correspond with the footprintWKT such that t

[2020-04-07 17:43] albenson-usgs opened #23 "event file decimalLatitude/decimalLongitude"
In the event file, what does decimalLatitude and decimalLongitude represent? Is it the midpoint of the track? Something else? It might be good to indicate what it is in georeferenceRemarks (https://dwc.tdwg.org/terms/#dwc:georeferenceRemarks).

[2020-04-07 17:45] albenson-usgs opened #24 "location_quality"
In dynamicProperties there is location_quality. What does this represent? Is it defined somewhere? Would it be better to link to the URI for the definition? Or include a more descriptive version? Is "location_quality: 1" good or bad? As a downstream user, I'm not sure.

[2020-04-07 17:46] albenson-usgs opened #25 "U for sex"
I'm wondering if the use of "U" (which I'm assuming means "unknown" is somehow better than just having NA?

[2020-04-07 17:47] albenson-usgs opened #26 "All occurrences are MachineObservation"
Are all of the occurrences truly basisOfRecord: "MachineObservation"? Was there a capture/release occurrence?

[2020-04-07 17:49] albenson-usgs opened #27 "type is not used correctly"
type must follow the Dublin Core vocabulary (https://www.dublincore.org/specifications/dublin-core/dcmi-type-vocabulary/2010-10-11/) of which deployment is not one of the options.

[2020-04-07 17:51] albenson-usgs commented on #27
Related to issue #9

[2020-05-14 05:15] msweetlove commented on #21
I managed to change all event times it to hh:mm:ss in the upcoming version of the data conform ISO 8601. But I think for the timezones required by ISO 8601:2004(E), we need to be pragmatic in the sense that figuring this out based on geographic coordinates for millions of records is computationally unfeasible.

[2020-05-14 05:33] msweetlove commented on #22
We defined each track as an event: starting from the HumanObservation of tagging the animal, followed by a suite of MachineObservations. I don't think there are multiple tracks for one individual, but when certain rare chance events collide (e.g. loosing the tracker, re-capture,...), this possibility cannot be completely excluded. As such, startDayOfYear and endDayOfYear correspond to the footprin

[2020-05-14 05:37] msweetlove commented on #23
These coordinates are those of the place the animal was physically captured to be able to tag it. This information has now been added to georeferenceRemarks.

[2020-05-14 05:44] msweetlove commented on #25
This was how the sex was noted in the original files I got. I'm also not completely sure if it means unknown. If it does, it still carries more information than NA, as this may implicate the sex could not be determined at first sight (animal was still juvenile?,...). I would propose to leave this as it is.

[2020-05-14 07:01] Antonarctica commented on #24
@albenson-usgs We had a discussion on that in another issue
[https://github.com/tdwg/dwc-for-biologging/issues/19](url)

[2020-05-14 07:13] Antonarctica commented on #25
This should be Undetermined which usually means juvenile @jdpye @ianjonsen can you confirm?

[2020-05-14 08:02] pieterprovoost commented on #21
What does `eventTime` currently hold? Is it local time at the release location? Then maybe a conversion to UTC (`HH:MMZ`) is feasible?

[2020-05-14 08:45] msweetlove commented on #26
All the lines in the event file corresponded to the humanObservations. Those have now been added to the occurrence file

[2020-05-14 08:46] msweetlove commented on #27
removed type from the data, as this information is already shown elsewhere (metadata and basisOfReccord)

[2020-05-14 10:41] msweetlove commented on #24
This has been resolved using the georeferenceProtocol and georeferenceVerificationStatus terms

[2020-05-14 11:47] msweetlove commented on #21
Anton informed me that all times are UTC, so the format is now HH:MM:SSZ (with timezone stamp)

[2020-05-14 11:51] ianjonsen commented on #25
for RAATD data, these are all vertebrates so sex = NA means that sex was either not recorded or could not be determined. sex = U means that sex could not be determined. The reason why would depend on the species; for some it could mean juvenile, for others it could mean adult sex is too difficult to determine visually.

[2020-05-14 15:24] albenson-usgs commented on #25
I feel that it would be better to move "U" to the occurrenceRemarks as U is not a [sex](https://dwc.tdwg.org/terms/#dwc:sex). When we put extraneous information in a term that will not be immediately identifiable to downstream users we are causing confusion. Since U is not a sex we need to be explicit somewhere besides sex that U means sex was undetermined and if it was a juvenile wouldn't it be b

[2020-05-14 15:38] #21 closed

[2020-05-14 15:39] #24 closed

[2020-05-14 15:39] #27 closed

[2020-05-14 15:39] #26 closed

[2020-05-14 15:41] #23 closed

[2020-05-14 15:45] albenson-usgs commented on #22
Hmm well we certainly don't want to lose the functionality of the data if we can but we do need to follow the standard as this is not the only dataset being integrated into OBIS (so we must follow the same rules). I wonder if @peterdesmet or @jdpye might have a suggestion on how to keep the start day of the track and end day of the track separate but keeping in line with the standard.

[2020-05-14 16:35] Antonarctica commented on #25
I would then just label it as unidentified. sewing the Lifestage won't be possible to do a posteriori for most of these data.

[2020-05-14 17:13] #25 closed

[2020-06-21 19:23] peterdesmet commented on #25
Late to the game here. sex = “undetermined” is listed as an acceptable value in http://rs.gbif.org/vocabulary/gbif/sex.xml I have used “unknown” quite often too. Would not use short (and potentially) confusing codes as “U”

[2020-06-21 19:28] peterdesmet commented on #22
As @albenson-usgs mentions, I would definitely not use startDayOfYear and endDayOfYear for this. Note those numbers don’t say anything about the number of days a track is, if that track crosses multiple years.

Using “yyyy-mm-dd/yyyy-mm-dd” in eventDate is the best approach. The occurences will cary a single date anyway.

[2020-06-21 19:30] peterdesmet commented on #27
Generally “Event” is used as type for any observation dataset.

[2020-09-15 16:59] dshorthouse opened #29 "What or who is the agent?"
I see that `scientificName` is a required term. But I do not see either `recordedBy` or `identifiedBy`. I assume that many determination events will be executed by a human sometime after a captured event but that other determination events will happen in near real-time by a trained machine. Should you require `scientificName` without also requiring an agent who/that made the assertion?

[2020-09-15 17:08] jdpye commented on #29
A great point. For the great majority of my own experience, the determination was made by the individual doing the tagging but we are certainly not being as explicit as we could be! `samplingProtocol` also feels wrong for this, I had envisioned using that field to describe things like the tag attachment method or any specifics of which animals were being selected for study (if your study was only

[2020-09-15 17:12] albenson-usgs commented on #29
The primary way we are differentiating human observations versus machine observations is by using basisOfRecord. See the explanation for basisOfRecord in [the wiki ](https://github.com/tdwg/dwc-for-biologging/wiki/Data-guidelines)"A single record in the Occurrence Core will designate basisOfRecord:HumanObservation to delineate the point in time that the animal was in hand. Future detections of the

[2020-09-15 17:22] dshorthouse commented on #29
@jdpye @albenson-usgs Gotcha re: `basisOfRecord`. Might you also want a more explicit way to state who the human was or what was the machine that made the later assertions, though these machine-based assertions feel like splitting hairs.

[2020-09-15 17:25] Antonarctica commented on #29
and basisofrecord is also a required field. but I always try to convince people to fill out identifiedby by the person or algorithm that did the identification.

[2020-09-15 17:29] albenson-usgs commented on #29
@dshorthouse I guess I'm not sure that someone would NEED to know who captured the animal for conducting downstream analyses. I do agree it's nice to have if you can get it but I don't know that not having it prevents future work from happening? I'm not a biologging expert though so hopefully @peggynewman or maybe @sarahcd can confirm. I can see how you might need to know what machine made the obs

[2020-09-15 17:38] albenson-usgs commented on #29
Actually after considering this further, I could see the case for making `identifiedBy` strongly recommended and using it the way @jdpye suggested might help make it even clearer which observations are human ones and which are machine ones.

[2020-09-17 07:38] peggynewman commented on #29
Interesting. I agree with the approach that recordedBy and identifiedBy in biologging data goes alongside the Human Observation record and that broadly our approach is to group by organismId. We're likely to see these fields used more in repositories thanks to the kind of work that @dshorthouse is doing with Binomia. For biologging however it's the machine that's doing the observing, not recording

[2020-09-17 14:21] dshorthouse commented on #29
@peggynewman In the context of biologging, it doesn't make much sense to ascribe credit for effort as *might* be assumed in the spirit of `recordedBy` or `identifiedBy`, which is (partly) what Bionomia tries to accomplish. However, the other intent of these terms is a bit more subtle. If we accept that the identity of an occurrence is subject to external slippage in taxon concept, then we need a s

[2020-09-17 15:30] Antonarctica commented on #29
Taking from other best practices. A 'scientficName' should be linked to a 'scientificNameID' which is defined as: An identifier for the nomenclatural (not taxonomic) details of a scientific name. This gives some protection against slippage eg in case the scientific name the accepted and unaccepted names can be linked. The best practice is to have a globally unique identifier for instance a Life Sc

[2020-09-17 15:32] jdpye commented on #29
Oh we've had a couple 'fun' taxon shakeups with manta rays and Atlantic torpedo/tetronarce, as well as some ambiguous identifiers with things like sixgill/sevengill sharks. At my institution we run things through marinespecies.org and back to the researcher with any discrepancies from their field reporting, and we identify the marinespecies.org entries as the authority as @Antonarctica has detaile

[2020-09-17 15:37] albenson-usgs commented on #29
@jdpye reach out to WoRMS on the cases where the researcher is not in agreement (info at marinespecies.org). They are really responsive and helpful.

[2020-09-17 15:49] jdpye commented on #29
Definitely. they're great at accepting new colloquial names, and I feel like the marine/brackish/fresh distinctions are maybe a little bit my fault because I made them add American alligators once upon a time.

[2020-09-17 23:30] peggynewman commented on #29
I agree, a scientificNameID belongs with scientificName.  In the situation where an algorithm has provided the species identification, I've been thinking that is more MoF lines. Is a persistent identifier for an algorithm a DOI on a publication or are there other options?

[2020-09-24 22:57] albenson-usgs commented on #19
Just throwing a comment here to see what still needs to happen :-)

[2020-09-24 23:00] Antonarctica commented on #19
I hope nothing... it is public now https://ipt.biodiversity.aq/resource?r=scar_raatd_trackingdata after some long time calculating on @msweetlove computer and finding some small errors. I guess we'll register it next week....

[2020-09-25 08:30] mikkohei13 commented on #13
Are private projects ok also s use cases? I'm working on a system that picks out bird calls (nocturnal flight calls / nocmig) from audio recordings using AI, which will eventually become machine observations.

Since this is my personal project, I would not publish the data directly as DwC, but can feed it into Finnish Biodiversity Information Facility (where I work), which could then share it to G

[2020-09-25 14:44] jdpye commented on #19
Yeah the last open ticket we had about eventDates looks to be fixed up in that DwC-A, I think this is good to go! is this PR's branch up to date?

[2020-09-25 14:57] wardappeltans commented on #19
And the RAATD dataset is also published in OBIS https://obis.org/dataset/48cb8624-a221-47ed-9a6d-b99b0bb394e0

[2020-09-25 15:01] jdpye commented on #19
Looks like Mirounga leonina still needs a scientificNameID, but not too many more is to dot and ts to cross, once we have the latest scriptlet and data example in the msweetlove:master branch.

[2020-09-25 16:39] albenson-usgs commented on #13
@mikkohei13 I don't see any reason your use case wouldn't fit. Let's add it!

[2020-09-28 05:29] msweetlove commented on #19
@jdpye all scientificNameIDs were collected from WoRMS in an automated loop. If the field is blank for a species, it means it had no exact match with the WoRMS database or there were multiple matches that could not be resolved automatically. I'll clean up the R-script and put it online today.

[2020-09-28 06:03] msweetlove commented on #19
the R-script for formatting the RAATD data is available [here](https://github.com/biodiversity-aq/RAATD/blob/master/RAADT_Rscript.R)

[2020-09-30 15:05] peterdesmet opened #30 "Defining a datapackage.json for Movebank data"
I'm attempting to convert a [published Movebank dataset](https://doi.org/10.5281/zenodo.3540799) into a _Frictionless data package_, by describing the files and their structure in a `datapackage.json` file. I created a use case for this [here](https://github.com/tdwg/dwc-for-biologging/tree/master/use-cases/movebank-gps). This issue is to capture feedback.

Link to file: [`datapackage.json`](https

[2020-09-30 15:06] peterdesmet commented on #30
Feedback by @sarahcd:

[2020-09-30 15:19] peterdesmet commented on #30
@sarahcd:

- Yes, we should include the URIs with attribute info. I think that is done with `"rdfType"`. I will add those.
- I've purposely not included any package level metadata like license and citations, because 1) I didn't want to repeat information that is already available at the (Zenodo) repository (and then having to maintain both) and 2) I want to have the flexibility to update the datas

[2020-09-30 18:31] peterdesmet commented on #30
@sarahcd why do [`tag id`](http://vocab.nerc.ac.uk/collection/MVB/current/MVB000181/2/) and [`tag local indentifier`](http://vocab.nerc.ac.uk/collection/MVB/current/MVB000182/2/) (sic) both exist as concept in the Movebank Attribute dictionary? They are the same concepts and have the same definition. It is unclear which one I should refer to (I think `tag id`). Same for `animal id` vs `animal loca

[2020-10-01 05:33] msweetlove commented on #19
@jdpye I updated the occurrence file to add the scientificNameID of Mirounga leonina. The reason it was left blanc was due to multiple matches that could not be resolved automatically.

[2020-10-01 11:58] jdpye commented on #19
Thanks Max! I suspected it was something like that. I've had to parse the AcceptedStatus of the results sometimes to arrive at the one that's approved for my species. Some other times, there are still ambiguities and I have to do as you did. I'll review this now!

[2020-10-01 16:10] jdpye commented on #19
Is the updated file and workflow in the msweetlove fork's master branch?

[2020-10-02 05:50] msweetlove commented on #19
The updated occurrences file can be found here: https://ipt.biodiversity.aq/resource?r=scar_raatd_trackingdata. To do this step I used just two trivial lines of code, so I didn't update the script for that.
It goes like this:

with occurrences = the occurrence file

[2020-10-08 14:42] peterdesmet opened #31 "Are sensor data exported from movebank always sorted by timestamp?"
@sarahcd can we assume that sensor data exported from Movebank are always sorted by timestamp? This would cut down on processing for Darwin Core.

[2020-10-09 10:22] peterdesmet opened #32 "Should sex, lifeStage, ... be extended to gps records"
At deployment, one often determines the sex, lifeStage and reproductive condition of the animal. Should these values be assigned to the gps records as well?

- sex: unlikely to change for animals that are gps tagged?
- lifeStage: changes over time, until it is `adult`
- reproductiveCondition: definitely can change over time

Anyone?

[2020-10-09 10:40] sarahcd commented on #31
yes, by ID and by timestamp, I can't think of any exceptions.

[2020-10-09 11:16] sarahcd commented on #30
The two versions of tag/animal identifier labels are something created a long time ago, and I'm not sure what the rationale was. tag-id/animal-id are the names used in reference data downloads, and tag-local-identifier/animal-local-identifier are he names used in event data downloads. As you see in the vocabulary I use the alternative label to show they are the same thing. I could delete one set o

[2020-10-09 11:42] peterdesmet commented on #31
What ID exactly?

[2020-10-12 14:35] albenson-usgs commented on #32
My opinion is that these values should not be included in the GPS records. Unless this information is collected by the GPS somehow? I don't think it is but I'm also not an expert in this data. Yes sex is unlikely to change but it's also not being recorded by the GPS. With lifeStage and reproductiveCondition we would have no way of knowing because this is not recorded by the sensors (right?). Maybe

[2020-10-12 16:31] peterdesmet commented on #32
I think I agree @albenson-usgs 👍

[2020-10-13 17:54] sarahcd commented on #32
I agree @albenson-usgs! For analysis people sometimes want to assign age and reproductive condition on GPS data, but this is variable across taxa or even the specific analysis, and not something the sensors are recording directly, so I would leave this job to the user. Note that Euromammals does have a way of automatically 'aging' animals based on the age at deployment, I think owners provide the

[2020-10-14 15:58] #22 closed

[2020-10-27 14:28] #32 closed

[2020-10-27 14:36] peterdesmet opened #33 "informationWithheld / dataGeneralizations"
In a lossy transformation to Darwin Core we will loose information that is available in the source dataset. Should this be indicated for every record in `informationWithheld` and/or `dataGeneralizations` (inflating unzipped size), at dataset level (in the metadata), or both?

For the `movebank-gps` data case, I've currently opted for

- HumanObservation records: **not include** `informationWithhel

[2020-10-29 09:51] peterdesmet opened #34 "Ready for review: Movebank GPS → Darwin Core"
I have finished a [new use case](https://github.com/tdwg/dwc-for-biologging/tree/master/use-cases/movebank-gps):

It is similar to the [Mahoney](https://github.com/tdwg/dwc-for-biologging/wiki/Terrestrial-mammal-GPS-and-ACC-data-from-Movebank) use case @sarahcd made, but rather than attempting to map all source data to Darwin Core, it is **lossy** (as suggested at our TDWG WG session). It extracts

[2020-11-04 21:51] peggynewman commented on #33
That sounds like a reasonable approach. Is there a GBIF/OBIS approach to dataGeneralizations? ALA uses it specifically in reference to location precision, in which case informationWithheld might make more sense to put the subsample info into (ie "we withheld 50 records").

[2020-11-04 22:04] peggynewman commented on #30
Re
`2. get information about those headers from the movebank attribute dictionary (is it available as xml/json?)`

Can the machine readable terms be harvested from the NERC vocabulary service?

[2020-11-05 06:44] peterdesmet commented on #30
@peggynewman this is something @sarahcd will inquire NERC about, as well as adding data type and format for terms. That way, a datapackage.json could be build from the NERC vocab.

[2020-11-07 10:36] peggynewman commented on #34
This is great Peter. The layout is super simple and easy to follow.
In entering a brave new world without necessarily using Event Core, I suspect that there we should examine whether there are some terms here that will be particularly useful for identifying different types of machine observations that will fit into the occurrence core. For example, I feel that it would be really useful to differen

[2020-11-07 11:13] pieterprovoost commented on #34
Just FYI, we did some work a while back on lossy transformation of GPS data using a spatiotemporal grid. The difference with this approach is that more data are retained when the individual is covering larger distances (e.g. every kilometer in addition to every hour). See https://github.com/iobis/ziptrack but use with caution as we didn't test this extensively.

[2020-11-24 13:56] peterdesmet commented on #34
@peggynewman: controlled vocabulary for `samplingProtocol`: that is a good idea, will make a new issue.

[2020-11-24 13:57] peterdesmet opened #36 "Controlled vocabulary for samplingProtocol"
_Originally posted by @peggynewman in https://github.com/tdwg/dwc-for-biologging/issues/34#issuecomment-723429065_

[2020-11-24 14:02] peterdesmet commented on #36
For my two use cases I have used:

## Camtrap data

https://github.com/tdwg/dwc-for-biologging/blob/7ccd6bb5eb72780ce51d3f7015d2a98bbcbec9e8/use-cases/camtrap-dp/sql/dwc_occurrence.sql#L120

## GPS data

https://github.com/tdwg/dwc-for-biologging/blob/7ccd6bb5eb72780ce51d3f7015d2a98bbcbec9e8/use-cases/movebank-gps/sql/dwc_occurrence_deployment.sql#L144

https://github.com/tdwg/dwc-for-biologging/b

[2020-11-24 14:05] peterdesmet commented on #34
@pieterprovoost nice, good to know! I have opted for one by hour, because it is simple to explain and implement (basic window function in SQL).

[2020-11-24 14:07] peterdesmet commented on #34
I have updated the [README](https://github.com/tdwg/dwc-for-biologging/blob/master/use-cases/movebank-gps/README.md) with a summary of the transformation approach, and will now close this issue. I will extend the use case next year to all available Movebank terms and - with the help of @niconoe - make the transformation steps generic so they can run on any Movebank gps dataset expressed as a frict

[2020-11-24 14:07] #34 closed

[2020-12-17 13:03] peterdesmet opened #37 "What dwc term to use to indicate animal is domesticated?"
In camera trap data, researchers often wants to differentiate between wild and domesticated animals. The Camera Trap Data Package schema has a field `is_domesticated` to indicate just that (while annotating). I was curious how one would express this information in Darwin Core.

So far, I'm simply thinking ~~`individualRemarks: domesticated`~~, `organismRemarks: domesticated`. Suggestions welcome.

[2020-12-17 13:22] peterdesmet opened #38 "What dwc term to use to indicate type of bait that was used near camera trap"
Camera traps often work with bait, which is recorded for each deployment:

[code]

It is a fairly important part of the sampling protocol, so I wondered how this could be expressed best in Darwin Core. The obvious go to seems `sampling_protocol`, but note that we aim to control values for this field (see #36). For camera traps, this is already populated with:

[code]

Should this be expanded to:

[2020-12-17 14:20] PietrH commented on #37
I agree that a remarks field is probably the best choice for now. I quick search on GBIF shows the term domesticated showing up in occurrenceRemarks, altough I think it's much more bound to the individual than to the occurrence.

Is `individualRemarks` a dwc field? I can't find it on this list: https://dwc.tdwg.org/list/

I know domesticated organisms are sometimes considered subspecies taxa, in w

[2020-12-17 16:10] debpaul commented on #37
(interesting @peterdesmet. you write: <individualRemarks: domesticated> I wonder how parallel this is to dwc:establishmentMeans concept work done by Quentin Groom and what he might offer in the way of potential fields or controlled vocab suggestions). But, I'm stepping in from way outside this group, if the idea is way off, please just ignore.

[2020-12-17 16:55] peterdesmet commented on #37
@PietrH sorry, I meant organismRemarks, not individualRemarks

@debpaul yes, I’m part of that publication too 😊. Should look if any of those vocabs are good at capturing this.

[2020-12-17 16:59] peterdesmet commented on #37
@debpaul the only one that comes close would be “degreeOfEstablishment = cultivated” @qgroom, would you use this to indicate that the observed animal was domesticated?

[2020-12-17 16:59] albenson-usgs commented on #37
Do we know what iNaturalist does for this?

[2020-12-17 17:30] peterdesmet commented on #37
No, iNat observations that are captive are considered casual and don't appear on GBIF:

- Original: https://www.inaturalist.org/observations/63270259
- Not on GBIF: https://www.gbif.org/occurrence/search?catalog_number=63270259&dataset_key=50c9509d-22c7-4a22-a47d-8c48425ef4a7&advanced=1&occurrence_status=present

For other iNat obs `establishmentMeans` is set to `wild`: https://www.gbif.org/occurr

[2020-12-17 20:19] sarahcd commented on #37
Would be interested to see other examples and any controlled lists on this topic. I've run into questions regarding cases like semi-feral/stray animals, and livestock that are in captivity at some times and largely free-roaming at others. Would these all be classified as domesticated?

[2020-12-19 14:55] qgroom commented on #37
There is obviously a difference between a domesticated animal and a domesticated species.
`degreeOfEstablishment` could be used to indicate an animal or plant is in a domesticated situation, but not that an animal is a domesticated species. Therefore, I don't see how it could be used with camera trap data unless the camera was sited in a cage or enclosed field where there were domesticated animals

[2020-12-19 15:46] peterdesmet commented on #37
@qgroom it refers to the observed **animal** in this case. It is an assessment of the annotator (i.e this is a domesticated cat, dog, horse, cow) rather than a wild one.

[2020-12-19 16:35] qgroom commented on #37
That's good, as long as the assessor doesn't assign the status to all potentially domestic animals. It is particularly difficult to know if a cat is feral or wild, but because the latter is likely to have been neutered it makes a big difference.

[2020-12-19 16:58] peterdesmet commented on #37
@qgroom knowing the above, what field would you then recommend?

[2020-12-19 17:38] qgroom commented on #37
`degreeOfEstablishment` is fine where it is clear to the assessor what they are assessing.
In the case of feral cats and dogs then it might be better to use `dwc:establishmentMeans` to say that they are an introduced species.

[2020-12-20 10:40] peterdesmet commented on #37
It is a generic mapping for all camera trap data, so there isn't too much information except:

So it might be a dog on a leash (`degreeOfEstablishment: cultivated`) or a domesticated cat or rock pigeon that turned feral and is breeding (`degreeOfEstablishment: reproducing`). It's hard to tell the difference between the two from the `domesticated` flag, so I think the only thing we can say is `esta

[2020-12-21 12:17] PietrH commented on #37
@qgroom , To my understanding domestication is a process that takes multiple generations that inflicts a change into the genetic code and behavior and appearance of the species. If this results in a different taxon/subspecies is a matter of taxon-concept. But As I see it a feral goat dependent from escaped individuals during the great famine, is still domesticated, and an elephant who's ancestors

[2020-12-21 13:05] qgroom commented on #37
@PietrH True, that's why I asked the question. It seems as though they are not using the word domesticated in this literal genetic sense, but something more general that can be applied to a single observation.

[2020-12-27 18:52] qgroom commented on #37
BTW: is the "Camera Trap Data Package schema" actually an official standard?

[2020-12-29 18:59] PietrH commented on #37
What constitutes a standard as official? TDWG recognition?

[2020-12-31 15:02] qgroom commented on #37
Well perhaps "official" is not the right word. But any commonly used data format for camera trap data would be interesting

[2021-02-18 16:11] danstowell commented on #29
Hi all. I'm trying to choose a clear way to indicate which software algorithm provided a taxon ID. I agree with a comment above by @jdpye that "identifiedBy" seems appropriate, though it would need its definition changing to encompass machines (not just people or groups) as the agent.  On this question, there's a lot more discussion in the Attribution group here: https://github.com/tdwg/attributio

[2021-02-18 16:29] jdpye commented on #29
That is a great discussion, @danstowell , thanks for that link! I think we could potentially 'get away with' a lot because of the 'freetext identifiers separated by pipes' nature of the field in HumanObservations, but I'd love to see the MachineObservation side of things make use of that field. If we did that, you're absolutely right, definitions would need a bit of updating. For algorithms/implem

[2021-03-03 15:52] peterdesmet commented on #37
Hi all, thanks for the input. We opted to drop the `is domesticated` field altogether and make use of subspecies to identify domesticated species, e.g. `Canis lupus familiaris` for dog.

@qgroom yes, Camera Trap Data Package schema is intended to be a commonly used data format for camera trap data! More info at https://gitlab.com/oscf/camtrap-dp Which is why I included a generic transformation fro

[2021-03-03 15:52] #37 closed

[2021-03-10 20:40] peterdesmet commented on #36
Decided to develop this further in a Google spreadsheet

[2021-03-10 21:05] pieterprovoost commented on #36
You may also want to look into these vocabularies which provide URIs for many of these sensor types for use in `samplingProtocol`:

- SeaVoX Device Catalogue
  - vocabulary: http://vocab.nerc.ac.uk/collection/L22/current/
  - search: https://www.bodc.ac.uk/resources/vocabularies/vocabulary_search/L22/
- SeaDataNet device categories
  - vocabulary: http://vocab.nerc.ac.uk/collection/L05/current/

[2021-04-13 12:43] sarahcd commented on #30
Note: If you go to a NERC vocab, e.g. vocab.nerc.ac.uk/collection/MVB, see [Alternate Profiles](http://vocab.nerc.ac.uk/collection/MVB/current/?_profile=alt) in the upper right for several JSON formats. I haven't explored them yet but they look potentially useful for harvesting.

[2021-04-19 11:27] sarahcd commented on #31
update: Event data downloaded from Movebank are ordered by tag_id, deploy_on_timestamp, deployment_id, and by timestamp within each of those groups. The tag_id and deployment_id are internal database identifiers rather than user-assigned identifiers, so it's not very useful. If you have suggestions of other ordering that would work well for DwC processing, let me know and I can discuss possible up

[2021-04-20 09:57] peterdesmet commented on #31
Ok, good. Most important aspect is that records are sorted chronologically by timestamp within those groups, so we don't have to resort when transforming for DwC (see e0909dd).

[2021-04-20 09:57] #31 closed

[2022-06-14 20:08] peterdesmet commented on #33
The [movepub R package](https://github.com/inbo/movepub/blob/9c2218abcbbb9bced54e0c719b5f16c20168ed18/inst/sql/dwc_occurrence.sql#L91-L92) now implements `dataGeneralizations` as described above (e.g. `subsampled by hour: first of 13 record(s)`). For `informationWithheld` we opted for the static value `see metadata` for all records. The metadata will describe that the Darwin Core dataset is derive

[2022-06-14 20:08] #33 closed

[2022-06-14 20:17] peterdesmet commented on #30
A `datapackage.json` file as described above can now be generated automatically with the movepub R package (see [tutorial](https://inbo.github.io/movepub/articles/movepub.html#frictionless)).

This is done by making use of the general purpose [frictionless](https://docs.ropensci.org/frictionless/) R package and looking up the definition and URL for every field in the Movebank Attribute Dictionary

[2022-06-14 20:17] #30 closed